.opciones{
  font-family:'monospace';
  font-size: 15px;
  text-align: center;
  color: rgb(34, 23, 187);
}

.titulo{
  font-family:'Arial';
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: rgb(34, 23, 187);
  margin-top: 10px;
}

.etiqueta{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: rgb(35, 98, 156);
  margin-top: 10px;
}